 <div class="theme-setting-box">
    <div class="theme-box">
        <button class="theme-icon text-white">
            <i class="ri-menu-line"></i>
        </button>
        <ul class="theme-option">
            <li>
                <button class="theme-setting-button" id="rtl-btn">
                    <i class="ri-text-direction-r"></i>
                </button>
            </li>
            <li>
                <button class="theme-setting-button" id="dark-btn">
                    <i class="ri-sun-line"></i>
                </button>
            </li>
            <li>
                <!-- <button routerLink="/home" class="theme-setting-button">
                    <i class="ri-home-3-line"></i>
                </button> -->
                <button class="theme-setting-button" id="home-btn">
                    <i class="ri-home-3-line"></i>
                  </button>
            </li>
        </ul>
    </div>
</div>  


<!-- pwa install app popup start -->
<div class="offcanvas offcanvas-bottom addtohome-popup theme-offcanvas w-auto" tabindex="-1" id="offcanvas">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas">
      <i class="ri-close-line"></i>
    </button>
    <div class="offcanvas-body small">
      <div class="app-info">
        <div class="content">
          <h3>Multikit App</h3>
          <a>www.multikit-app.com</a>
        </div>
      </div>
      <button class="btn theme-bg-color text-white" id="installApp">Add to Home Screen</button>
    </div>
  </div>
  <!-- pwa install app popup start -->