/* 
@import url('../../assets/css/dark.css'); */

/* .offcanvas {
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .offcanvas.show {
    visibility: visible;
    transform: translateY(0);
  }
   */