<!-- header Start -->
<header class="header-style-6">
    <div *ngIf="showLogo" class="left-header">
        <a routerLink="/index">
            <img src="../../assets/images/logo/logo_hotel_f.png" class="img-fluid" alt="">
        </a>
    </div>

    
    <div *ngIf="showText" class="left-header">
        <p>Florists service</p>
    </div>

    <!-- <div class="lang-menu">
        <div class="selected-lang">
            English
        </div>
        <ul>
            <li>
                <a href="" class="en">English</a>
            </li>
            <li>
                <a href="" class="fr">French</a>
            </li>
            <li>
                <a href="" class="ar">Arabic</a>
            </li>
        </ul>
    </div>  -->

    <div class="lang-menu">
        <div class="selected-lang" [ngStyle]="{'background-image': 'url(' + getLangImage() + ')'}">
          {{selectedLang}}
        </div>
        <i class="ri-arrow-down-s-line"></i>
        <ul>
          <li>
            <a  (click)="switchLanguage('EN')" class="en">{{ 'header.EN' | translate }}</a>
          </li>
          <li>
            <a  (click)="switchLanguage('FR')" class="fr">{{ 'header.FR' | translate }}</a>
          </li>
          <li>
            <a (click)="switchLanguage('AR')" class="ar">{{ 'header.AR' | translate }}</a>
          </li>
        </ul>
      </div>

    <div class="right-header">
        <a routerLink="/address" class="btn location-btn font-room">
             112</a>
             <a href="">
                <i class="ri-shopping-cart-line my-shopping-cart"></i>
            </a>
    </div>
     


     <!-- <div class="lang-menu">
        <div class="selected-lang" (click)="toggleDropdown()">
            {{ selectedLang }}
        </div>
        <ul [class.show]="dropdownOpen">
            <li>
                <a href="" class="en" (click)="selectLang('English')">English</a>
            </li>
            <li>
                <a href="" class="fr" (click)="selectLang('French')">French</a>
            </li>
            <li>
                <a href="" class="ar" (click)="selectLang('Arabic')">Arabic</a>
            </li>
        </ul>
    </div> -->
    


</header>
<!-- header End -->


<!-- Search Section Start -->
<section>
    <div class="custom-container">
        <form class="form-style-7">
            <div class="form-box search-box mb-19">
                <input type="search" class="form-control" placeholder="Search here..">
                <i class="ri-search-line"></i>
                <i class="ri-mic-line mic-icon"></i>
            </div>
        </form>
    </div>
</section>
<!-- Search Section End -->