 <!-- Offer Banner Start -->
 <section class="banner-section-2 section-t-space-2">
  <div class="custom-container">
      <div class="banner-box">
          <img src="../assets/images/hotel-booking/offer/1.png" class="banner-image" alt="">
          <div class="banner-content p-top-left">
              <div>
                  <h4 class="text-white">15% OFF!</h4>
                  <p class="text-white"> enjoy BIG savings .</p>
                  <h6 class="text-white">Use Code: <b>NIXO</b></h6>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Offer Banner End -->