<body class="ecommerce-color">
    <!-- Loader Box Start -->
    <div class="min-loader-wrapper">
        <img src="../assets/images/favicon/2.svg" class="img-fluid loader" alt="">
        <div class="loader-section ecommerce-color section-left"></div>
        <div class="loader-section ecommerce-color section-right"></div>
    </div>
    <!-- Loader Box End -->

    <!-- header Section Start -->
    <header class="header-style-5">
        <div class="header-left">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                <i class="ri-bar-chart-horizontal-line"></i>
            </button>
            <h4 class="header-title">Wedding Collection</h4>
        </div>
        <div class="header-right">
            <a href="notification.html" class="notification">
                <i class="ri-notification-2-line"></i>
            </a>
            <a href="wishlist.html">
                <i class="ri-heart-3-line"></i>
            </a>
            <a href="cart.html">
                <i class="ri-shopping-cart-line"></i>
            </a>
        </div>
    </header>
    <!-- header Section End -->


    <!-- Product Search Section Start -->
    <section class="search-hotel-section">
        <div class="custom-container">
            <form class="form-style-6">
                <div class="search-box">
                    <input type="search" class="form-control" placeholder="Search products here..">
                    <i class="ri-search-2-line"></i>
                </div>
            </form>
        </div>
    </section>
    <!-- Product Search Section End -->

    <!-- Product Section Start -->
    <section class="section-b-space-3">
        <div class="custom-container">
            <div class="product-title">
                <h5>45 Products Found</h5>
            </div>
            <div class="product-wrapper">
                <div class="product-box">
                    <div class="product-image">
                        <a href="product.html">
                            <img src="../assets/images/ecommerce/product/1.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="add-icon">
                            <input class="form-check-input wishlist-button" type="checkbox">
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="product.html">
                            <h5>Blue Denim Jacket</h5>
                        </a>
                        <ul class="product-rating">
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill"></i>
                            </li>
                        </ul>
                        <h6>$32.00 <span>$35.00</span></h6>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-image">
                        <a href="product.html">
                            <img src="../assets/images/ecommerce/product/2.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="add-icon">
                            <input class="form-check-input wishlist-button" type="checkbox">
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="product.html">
                            <h5>Blue Denim Jacket</h5>
                        </a>
                        <ul class="product-rating">
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill"></i>
                            </li>
                        </ul>
                        <h6>$32.00 <span>$35.00</span></h6>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-image">
                        <a href="product.html">
                            <img src="../assets/images/ecommerce/product/3.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="add-icon">
                            <input class="form-check-input wishlist-button" type="checkbox">
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="product.html">
                            <h5>Blue Denim Jacket</h5>
                        </a>
                        <ul class="product-rating">
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                        </ul>
                        <h6>$32.00 <span>$35.00</span></h6>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-image">
                        <a href="product.html">
                            <img src="../assets/images/ecommerce/product/4.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="add-icon">
                            <input class="form-check-input wishlist-button" type="checkbox">
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="product.html">
                            <h5>Blue Denim Jacket</h5>
                        </a>
                        <ul class="product-rating">
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill"></i>
                            </li>
                        </ul>
                        <h6>$32.00 <span>$35.00</span></h6>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-image">
                        <a href="product.html">
                            <img src="../assets/images/ecommerce/product/5.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="add-icon">
                            <input class="form-check-input wishlist-button" type="checkbox">
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="product.html">
                            <h5>Reversible angora cardigan</h5>
                        </a>
                        <ul class="product-rating">
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill"></i>
                            </li>
                        </ul>
                        <h6>$32.00 <span>$35.00</span></h6>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-image">
                        <a href="product.html">
                            <img src="../assets/images/ecommerce/product/6.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="add-icon">
                            <input class="form-check-input wishlist-button" type="checkbox">
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="product.html">
                            <h5>Reversible angora cardigan</h5>
                        </a>
                        <ul class="product-rating">
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill"></i>
                            </li>
                        </ul>
                        <h6>$32.00 <span>$35.00</span></h6>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-image">
                        <a href="product.html">
                            <img src="../assets/images/ecommerce/product/7.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="add-icon">
                            <input class="form-check-input wishlist-button" type="checkbox">
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="product.html">
                            <h5>Reversible angora cardigan</h5>
                        </a>
                        <ul class="product-rating">
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                        </ul>
                        <h6>$32.00 <span>$35.00</span></h6>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-image">
                        <a href="product.html">
                            <img src="../assets/images/ecommerce/product/8.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="add-icon">
                            <input class="form-check-input wishlist-button" type="checkbox">
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="product.html">
                            <h5>Reversible angora cardigan</h5>
                        </a>
                        <ul class="product-rating">
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill fill"></i>
                            </li>
                            <li>
                                <i class="ri-star-fill"></i>
                            </li>
                        </ul>
                        <h6>$32.00 <span>$35.00</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Bootstrap js-->
    <script src="../assets/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Loader js -->
    <script src="../assets/js/loader.js"></script>

    <!-- Theme js-->
    <script src="../assets/js/script.js"></script>

    <!-- Theme Settings js-->
    <script src="../assets/js/theme-setting.js"></script>
</body>