             <div class="lang-menu">
                <div class="selected-lang">
                    English
                </div>
                <ul>
                    <!-- <li>
                        <a href="#" class="de">German</a>
                    </li> -->
                    <li>
                        <a href="" class="en">English</a>
                    </li>
                    <li>
                        <a href="" class="fr">French</a>
                    </li>
                    <li>
                        <a href="" class="ar">Arabic</a>
                    </li>
                </ul>
            
            </div>
    