

<body class="grocery-color public-san-body">
    <!-- Loader Box Start -->
 <div class="min-loader-wrapper">
        <img src="../../assets/images/favicon/3.svg" class="img-fluid loader" alt="">
        <div class="loader-section grocery-color section-left"></div>
        <div class="loader-section grocery-color section-right"></div>
    </div> 
    <!-- Loader Box End -->

    <!-- header Start -->
    <!-- <header class="header-style-6">
        <div class="left-header">
         
            <a routerLink="/index">
                <img src="../../assets/images/logo/6.svg" class="img-fluid" alt="">
            </a>
        </div>

        <div class="right-header">
            <a routerLink="/address" class="btn location-btn">
                <i class="ri-map-pin-2-line"></i> Bastrop, Texas</a>
            <a routerLink="/account" class="profile-image">
                <img src="../../assets/images/grocery/dp.jpg" class="img-fluid" alt="">
            </a>
        </div>
    </header> -->
    <!-- header End -->


    <!-- Search Section Start -->
    <!-- <section>
        <div class="custom-container">
            <form class="form-style-7">
                <div class="form-box search-box mb-19">
                    <input type="search" class="form-control" placeholder="Search here..">
                    <i class="ri-search-line"></i>
                    <i class="ri-mic-line mic-icon"></i>
                </div>
            </form>
        </div>
    </section> -->
    <!-- Search Section End -->

    <!-- Category Section Start -->
    <section class="bottom-space">
        <div class="custom-container">
            <div class="title mb-10">
                <!-- <h4>Category</h4> -->
                {{ 'Home.Category' | translate }}
            </div>

            <ul class="category-list-2">
                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/1.png" class="img-fluid" alt="">
                        </div>
                        <span>Fruits</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/4.png" class="img-fluid" alt="">
                        </div>
                        <span>Vegetables</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/7.png" class="img-fluid" alt="">
                        </div>
                        <span>Fishes</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/2.png" class="img-fluid" alt="">
                        </div>
                        <span>Breads</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/5.png" class="img-fluid" alt="">
                        </div>
                        <span>Meat</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/8.png" class="img-fluid" alt="">
                        </div>
                        <span>Milks</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/3.png" class="img-fluid" alt="">
                        </div>
                        <span>Frozen Food</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/6.png" class="img-fluid" alt="">
                        </div>
                        <span>Cleaning</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/shop" class="category-box-2">
                        <div class="category-image">
                            <img src="../../assets/images/grocery/product/9.png" class="img-fluid" alt="">
                        </div>
                        <span>Organic</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Category Section End -->